# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
ENV/
.venv/
.python-version

# Paramètres de l'éditeur
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers Django spécifiques
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Clés secrètes ou fichiers sensibles
*.env
.env*

# Fichiers de migration (optionnel si tu ne veux pas versionner les premières migrations)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
# Uncomment this if you don’t want to track migrations
# */migrations/*.py

# Cache
.cache/
*.coverage
.coverage.*

# Pytest
.pytest_cache/
htmlcov/

# OS
.DS_Store
Thumbs.db
